# Dependencies
node_modules/
.next/

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.idea/
apps/mobile/build/
apps/mobile/ios/
apps/mobile/android/
apps/mobile/pubspec.lock

# Python
venv/
__pycache__/
*.pyc
services/analytics/__pycache__/

# Hardhat
infrastructure/contracts/artifacts/
infrastructure/contracts/cache/
infrastructure/contracts/node_modules/

# Secrets
services/api/.env
infrastructure/contracts/.env

# Editor
.env.local
next-env.d.ts
